 
  .gallery-section {
    background-color: white;
    padding: 50px 0;
  
  
  }
  
  .section-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 50px;
  }
  
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px;  
    list-style: none;
    /* display: flex;   */
    /* justify-content: center;  */
    /* margin-top: 30px;  */
    max-width: 900px; 
    /* margin: 0 auto;  */
    margin-left: 60px;
  }

  .gallery-grid li {
    text-align: center;
  }
  
  
  /* .gallery-list {
    list-style: none;
    /* display: flex;
    justify-content: center; 
    margin-top: 30px;
  }
  
  .gallery-list li {
    width: 400px;
    margin: 20px;
    text-align: center;
  } */
  .gallery-grid img {
    width: 397px;
    height: 500px;
    margin-bottom: 10px; 
  }
  